/* From Uiverse.io by JohnnyCSilva */ 
.SmallLinkCard {
    min-width: 300px;
    max-width: 500px;
    height: 100px;
    background: var(--vp-c-bg-soft);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  
  .SmallLinkCard:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 1.5px solid var(--vp-c-border);
  }
  
  .inline-img {
    vertical-align:middle;
    display:inline-block;
    width:32px;
    height:32px;
    image-rendering:pixelated;
  }
  .halfhunger {
    vertical-align:middle;
    content:url("https://minecraft.wiki/images/Half_Hunger_%28icon%29.png");
    display:inline-block;
    width:16px;
    height:16px;
    image-rendering:pixelated;
  }
  .hunger {
    vertical-align:middle;
    content:url("https://minecraft.wiki/images/Hunger_%28icon%29.png");
    display:inline-block;
    width:16px;
    height:16px;
    image-rendering:pixelated;
  }
  .heart {
    vertical-align:middle;
    content:url("https://minecraft.wiki/images/Heart_%28icon%29.png");
    display:inline-block;
    width:16px;
    height:16px;
    image-rendering:pixelated;
  }
  .halfheart {
    vertical-align:middle;
    content:url("https://minecraft.wiki/images/Half_Heart_%28icon%29.png");
    display:inline-block;
    width:16px;
    height:16px;
    image-rendering:pixelated;
  }
  .aimg {
    width: 75px;
    height: 75px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .SmallLinkCard:hover > .aimg {
    transition: 0.5s ease-in-out;
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .span {
    font-size: 10px;
    text-decoration: none;
    color: var(--vp-c-text-1);
  }
  
  .h1 {
    font-size: 16px;
    text-decoration: none;
    color: var(--vp-c-text-1);
    font-weight: bold;
  }
  
  .p {
    font-size: 12px;
    text-decoration: none;
    color: var(--vp-c-text-1);
    font-weight: lighter;
  }
  
  