/* From Uiverse.io by Yaya12085 */ 
.radioswitcher-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: var(--vp-c-bg-soft);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 100%;
    font-size: 14px;
  }
  
  .radioswitcher-inputs .radioswitcher {
    flex: 1 1 auto;
    text-align: center;
    border: 1.5px solid var(--vp-c-bg-soft);
    min-width: 100px;
  }
  
  .radioswitcher-inputs .radioswitcher input {
    display: none;
  }
  
  .radioswitcher-inputs .radioswitcher .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: var(--vp-c-text-1);
    transition: all .15s ease-in-out;
  }
  
  .radioswitcher-inputs .radioswitcher input:checked + .name {
    background-color: var(--vp-c-bg-alt);
    border: 1.5px solid var(--vp-c-border);
    font-weight: 600;
  }