.smelting-background {
  position: relative;
  background-image: url("https://github.com/Villagecool/Vanilla-Upgrade-Wiki/blob/main/docs/ass-sets/smelting.png?raw=true");
  background-size: cover; /* adjust as needed */
  background-position: left;
  width: 512px;
  height: 316px; /* adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Minecraft;
  src: url("./ass-sets/Minecraft-Seven_v2.ttf");
}
.smelting-item-result {
  position: absolute; /* Take it out of the normal flow */
  left: 368px; /* Adjust as needed */
  top: 140px; /* Adjust as needed */
  width: 64px;
  height: 64px;
  z-index: 20; /* Enssure it appears above the grid/background */
}
.smelting-item-input {
  position: absolute; /* Take it out of the normal flow */
  top: 68px; /* Adjust as needed */
  left: 128px; /* Adjust as needed */
  width: 64px;
  height: 64px;
  z-index: 20; /* Ensure it appears above the grid/background */
}
.smelting-item-fuel {
  position: absolute; /* Take it out of the normal flow */
  top: 212px; /* Adjust as needed */
  left: 128px; /* Adjust as needed */
  width: 64px;
  height: 64px;
  z-index: 20; /* Ensure it appears above the grid/background */
}

.smelting-item-fuel:hover .c-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.smelting-item-result:hover .c-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.smelting-item-input:hover .c-tooltip-text {
  visibility: visible;
  opacity: 1;
}
